
//* Colors

$main-background : #0B0D17;
$text-light-blue : #D0D6F9;
$text-white : #FFFFFF;

//* Font family

$fonts-bellefair :'Bellefair', serif;
$fonts-barlow :'Barlow Condensed', sans-serif;
$fonts-roboto :'Roboto', sans-serif;;